<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<title>xanpeng</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/css/syntax.css" />
	</head>

	<body>
		<div id="wrapper">
			<div id="content" class="index">
				<div id="sidebar">
					<ul>
						<li>
							<a href="/index.html">ARTICLES</a>
							<ul>
								<!--
								{% for category in site.categories %}
								<li><a href="/{{ category[0] | downcase }}.html">{{ category[0] }}({{ category | last | size }})</a></li>
								{% endfor %}
								-->
								<li><a href="/career.html">CAREER({{ site.categories.career | size }})</a></li>
								<li><a href="/cloud.html">CLOUD({{ site.categories.cloud | size }})</a></li>
								<li><a href="/coding.html">CODING({{ site.categories.coding | size }})</a></li>
								<li><a href="/desktop.html">DESKTOP({{ site.categories.desktop | size }})</a></li>
								<li><a href="/life.html">LIFE({{ site.categories.life | size }})</a></li>
								<li><a href="/linux.html">LINUX({{ site.categories.linux | size }})</a></li>
								<li><a href="/scripts.html">SCRIPTS({{ site.categories.scripts | size }})</a></li>
							</ul>
						</li>
						<li><a href="/links.html">LINKS</a></li>
						<li><a href="/about.html">ABOUT</a></li>
					</ul>
				</div>
				
				<div id="main">
				{{ content }}
				</div>
	</body>
</html>

